# Private archives, notes, etc.
private/
notes-private.txt

# Python.
venv/
__pycache__/
.python-version

# Tools config.
.idea/
.vscode/

# App-specific.
_0_bak/
images/
images_gen/
opts/
output/
try/
sausage.sh
wipbak-list.txt
